.basic-detail-container {
    background: #f7f7f7;
    padding: 35px;
    float: left;
    width: 100%;
    margin-top: 25px;
}

.basic-detail-container h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    @media (width >= 1024px) {
        font-size: 1.5rem;
        font-weight: normal;
    }
}
.basic-detail-container .form-group .inputfield {
  
        background: #FFFFFF;
    border: rgba(210, 210, 210, 0.5) solid 1px !important;
    height: 50px;
    font-size: 1rem;
    color: #000000;
    padding-top: 10px;
    line-height: normal;
    font-weight: normal;
    width: 100%;
    padding: 20px 15px 10px 15px;
  }
.form-group .error {
      font-style: italic;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 93%;
    color: #dc3545;
    font-weight: normal;
}

.form-group-container {
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
}
.form-group-container .checkbox-group{
  display: flex;
  align-items: baseline;
  position: relative;
  padding-left:10%;
}
input[type="checkbox"] {
  position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
      position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    background: none;
            border: 1px solid #666;
        height: 18px;
        width: 18px;
}
.checkmark:after {
  left: 1px;
        top: 1px;
            content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    margin: 1px;
    background: #2b33a2;
    border: 1px solid #2b33a2;
    border-width: 0 2px 2px 0;
}
