.basic-detail-container {
    
    float: left;
    width: 100%;
            padding: 25px 15px;
        background: white;
    clear: both;

     @media (width >= 1024px) {
      background:transparent  ;
        padding: 0px;
     }

}

.basic-detail-container h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    @media (width >= 1024px) {
        font-size: 1.5rem;
        font-weight: normal;
    }
}
.basic-detail-container .form-group .inputfield {
  
        background: #FFFFFF;
    border: rgba(210, 210, 210, 0.5) solid 1px !important;
    height: 50px;
    font-size: 1rem;
    color: #000000;
    padding-top: 10px;
    line-height: normal;
    font-weight: normal;
    width: 95%;
    padding: 20px 15px 10px 15px;
  }
 .error {
      font-style: italic;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 93%;
    color: #dc3545;
    font-weight: normal;
    display: none;
}

.form-group-container {
    float: left;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    @media (width >= 1024px) {
      flex-flow: row;
       flex-wrap: wrap;
  gap: 16px; /* optional spacing */
    }
}
.form-group{
          width: 100%;
        margin-bottom: 15px;
      @media (width >= 1024px) {
        width:23%
      }
}
.form-group-container .checkbox-group{
  display: flex;
  align-items: baseline;
  position: relative;
  padding-left:25px;
  left:0;
  
  order:4;
  @media (width >= 1024px) {
    order: 5px;
    left:0;
    padding-left:25px;
    flex: 0 0 90%;
  }

}
/* make the native checkbox visually hidden but accessible */
.checkbox-group input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
  appearance: none;
  top:5px;
  left:5px;
  z-index:100;
}


/* the visible box */
.checkbox-group .checkmark {
  top: 5px;
  left:5px;
  z-index: 1;
    position: absolute;  /* relative to keep ::after positioned inside */
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  border-radius: 2px;
  box-sizing: border-box;
  margin-right: 8px; /* space between box and label text */
}

/* hidden tick by default */
.checkbox-group .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 11px;
  border: solid #fff;          /* tick color */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* show a filled background on checked and reveal tick */
.checkbox-group input[type="checkbox"]:checked + .checkmark {
  background: #2b33a2;
  border-color: #2b33a2;
}

.checkbox-group input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}
.form-group button{
      width: 100%;
    text-align: center;
    height: 64px;
    font-size: 1.3125rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b3395;
    padding: 12px 10px;
    border-radius: 6px;
    border: 1px solid #2b3395;
    outline: none;

}
.submit-button{
  order:5;
  @media (width >= 1024px) {
    order: 4;
  }
}
.form-group button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.form-status {
    font-size: 0.95rem;
    color: #000;
}
.form-group .name{
  order:1
}

.form-group .email{
  order:2
}
.form-group .dob{
  order:3
}
font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v51/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBHMdazTgWw.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}
html{
  font-size:22px;
}